# sparseneus
-e git+https://github.com/mit-han-lab/torchsparse.git@v1.4.0#egg=torchsparse
opencv_python
trimesh
numpy
pyhocon
icecream
tqdm
scipy
PyMCubes
ninja
# sudo apt-get install libsparsehash-dev
# inplace_abn
# git+https://github.com/mapillary/inplace_abn.git